*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    height: 60px;
    width: 100%;
    background: rgb(100, 155, 182);
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 24px;
}
footer{
    bottom: 0;
    padding-top: 30px;
    padding-left: 50px;
    height: 60px;
    width: 100%;
    background-image: linear-gradient(black, blue);
    color: white;
    text-align: left;
    line-height: 30px;
    position: fixed;
}

nav {
    width: 100%;
    height: 60px;
    background-image: linear-gradient(blue , black);
    display: flex;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px; 
}

nav ul{
    list-style: none;
    display: flex;
    margin-left: auto;
}

nav li{
    margin-left: 20px;
}

nav li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav li a:hover{
    color: yellow;
}


main{  
    padding-bottom: 60px;
    width: 100%;
    height: 120vh;
    padding-top: 20px;
    background: url("CV/images/landscape.jpg") no-repeat center/cover;
}


