body{
    background: #5cb9d0;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.main{
    height: 1320px;
    width: 900px;
    padding: 10px ;
    background: black;
    margin: 20px auto;
    border: 5px solid black;
    border-radius: 10px;
}

.left-section{
    width: 310px;
    height: 100%;
    padding: 5px 20px;
    background: #201f1f21;   /* them 21 de trong suot */
    border-radius: 5px;
    float: left;
}

.right-section{
    margin-left: -2px;
    width: 540px;
    background: #c1b9b9;
    height: 100% ;
    border-radius: 5px;
    float: left;
}

.name{
    color: white;
    font-size: 30px;
    font-weight: 100;
    margin-top: 20px;
}
 
.interest li{
    color : white ;
    padding-bottom: 13px;
    font-size: 20px;
    font-weight: 600;
    filter: grayscale(100%);
}
.d_p{
    color: white;
    padding-top: 10px ;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}

.profile{
    background: #ffffff2e;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 100px;
    position: relative;
}
#avatar{
    width: 150px;
    height: 150px;
    border-radius: 50% ;
    border: 4px solid white;
    position: absolute;
    bottom: 120px;
    left: 73px;
}
.p_skill .text {
    font-weight: 600;
    font-size: 17px;
}
h2{
    border: #4f3475 3px solid ;
    width: 100px ;
    padding: 7px;
    padding-left: 10% ;
    border-radius: 21px ;
    background: linear-gradient(#4b4551 , #4f3475);
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 18px;
}
.about_p{
    font-size: 13px;
    color:white;
    letter-spacing: 0.5px ;
    line-height: 24px;
}
.ul_contact span{
    font-size: 20px;
    filter: grayscale(100%);
}
.ul_contact li {
    color: white;
}
.contact{
    margin-top: -10px ;
    background : #ffffff3b;
    padding: 7px;
    padding-left: 10%;
    border-radius: 24px;
    color:white;
    font-size: 20px;
    font-weight: 600;
    width: 130px;
}
.left-section ul {
    padding-left: 20px ;
    padding-top: 10px;   
}
.p_skill{
    position: relative;
    line-height: 30px;
    color: white;
    
}

.p_skill li .percent{
    position: relative;
    width: 90%;
    height: 6px;
    background: #081923 ;
    display: block;
    padding: 7px;
    border-radius: 20px;
    margin-top: 2px;
}
.p_skill li .percent div{
    position: absolute;
    border-radius: 20px;
    top: 2px;
    bottom: 2px;
    left: 2px;
    height: 80% ;
    background: #8dd5d9;
}
.exp {
    font-size: 20px;
    font-weight: 600;
}
.exp + ul {
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 5px;
}


.l_p{
    margin-top: 10px ;
    color:white;
    margin-bottom: 20px ;
    position:relative;
}

.content{
    padding-bottom: 0px ;
    padding: 50px ;
}

h3::after{
    content:" ";
    position: absolute;
    top: 50% ;
    left: 180px;                       
    height: 5px ;
    width: 280px ;
    background: rgb(71, 13, 107);
}

h3{
    background: rgb(71, 13, 107);
    padding: 10px 15px;
    width: 150px ;
    border-radius: 21px;
    color: thistle;
    text-transform: uppercase;
    letter-spacing: 2px ;
    font-weight: 600;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    
}

.left-section img {
    border-radius: 20px;
    width: 70px;
    height: 70px;
    border: #c1b9b9 solid ;

}

.content-inner{
    padding : 10px ;
}

h4{
    font-weight: 500; 
}

